.cont-2 {
    font-family: 'Times New Roman', Times, serif;
}

.cont-1 {
    background-color: rgb(211, 211, 211);
    padding: 15px;
    border: 1px solid white;
    white-space: pre;
    font-family: monospace;
    height: 230px;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.Player-1 {
    margin-left: 20px;
}

.Player-2 {
    margin-left: 20px;
}

.hand {
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

.card-game {
    background-color: rgb(192, 192, 192);
}

.card {
    width: 50px;
    height: 30px;
    border: 1px solid grey;
    background-color: grey;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.black {
    color: black;
}

.red {
    color: red;
}