.cont-2 {
    list-style-type: upper-roman;
    
}


/* 'клас Marian, який визначає стиль для деякого елемента HTML'.Marian {
    text-decoration: overline solid rgb(42, 140, 165) 4px;
}
div p {
    font-family: 'Courier New', Courier, monospace !important } /* 'Визначає найвищий пріорітет стилю' */;